@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Roboto+Slab:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Nabla&family=Roboto+Slab:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Nabla&family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Dosis:wght@600&family=Nabla&family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --primary-color: #8263a3;
  --text-dark: #232637;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  position: absolute;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
body {
  font-family: "Noto Sans JP", "Roboto Slab", "sans-serif";
  background: rgb(207, 222, 243);
  background: linear-gradient(
    0deg,
    rgba(207, 222, 243, 0.8) 60%,
    rgba(133, 177, 255, 0.8) 100%
  );
}
.mo {
  backdrop-filter: blur(10px);
}
#header {
  display: block;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: rgb(207, 222, 243);
  background: rgb(207, 222, 243);
  background: linear-gradient(
    90deg,
    rgba(207, 222, 243, 1) 100%,
    rgb(96, 153, 252) 60%
  );
  height: 48px;
  backdrop-filter: blur(10px);
}
.navbar {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
li {
  border-bottom: 2px solid rgb(0, 0, 0, 0);
  size: 100%;
}
li:hover {
  border-bottom: 2px solid rgb(0, 0, 0, 1);
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
#logo:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}
#A1K47 {
  font-family: "corinthia", "sans-serif";
  font-weight: 400;
  font-size: 100px;
  color: aliceblue;
}
#footer {
  background-color: #5096cc;
}
.footer__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
